# ---- PYTHON ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pyc

# Entornos virtuales
.env/
.venv/
env/
venv/
ENV/
.Python

# Archivos de configuración de IDEs y herramientas
*.log
*.sqlite3
*.db
*.egg-info/
*.egg
*.coverage
.tox/
dist/
build/
pip-wheel-metadata/
migrations/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Caches
.cache/
.pytest_cache/
__pypackages__/

# ---- macOS ----
.DS_Store
.AppleDouble
.LSOverride

# Archivos temporales de Finder
._*

# Spotlight
.Spotlight-V100

# Archivos de volumen
.VolumeIcon.icns

# Trash
.Trashes
Icon?
ehthumbs.db
Thumbs.db